<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/html" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"> 
    <link rel="stylesheet" type="text/html" href="../../../public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/html" href="../../public/css/hero_slider.css"> 
    <link rel="stylesheet" type="text/html" href="../../public/css/magnific_popup.css">
    <link rel="stylesheet" type="text/html" href="../../public/css/main_style.css">
    <link rel="icon" href="../../public/icons/icon.ico"> 
    
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <script src="../../public/js/hero_slider.js"></script>
    <script src="../../public/js/jquery_1.11.3.min.js"></script>
    <script src="../../public/js/jquery_magnific_popup.min.js"></script>

    <title>Awesome Pics</title>
</head>
    <body>
        {{>header}}
        {{{body}}}
    </body>
</html>