<div class="cd-hero">      
    <ul class="cd-hero-slider">
        <li class="selected">                    
            <div class="cd-full-width">
                <div class="container-fluid js-tm-page-content" data-page-no="1" data-page-type="gallery">
                    <div class="tm-img-gallery-container">
                        <div class="tm-img-gallery gallery-one"> 
                            <div class="tm-img-gallery-info-container">
                                <h2 class="tm-text-title tm-gallery-title tm-white"><span class="tm-white">Awesome Pics</span></h2>
                                <p class="tm-text">Post and see awesome pics. Everyday. Everytime.</p>
                                <br>
                                <p class="tm-text">See what our users have been posting</p>
                            </div>
                            {{#each posts}}
                                <div class="grid-item">
                                    <figure class="effect-bubba">
                                        <img src="https://awesomepics.herokuapp.com/uploads/{{this.imageName}}" alt="Image" class="img-fluid tm-img">
                                        <figcaption>
                                            <h2 class="tm-figure-title"><span>{{this.title}}</span></h2>
                                            <p class="tm-figure-description">{{this.text}}</p>
                                            <a href="https://awesomepics.herokuapp.com/uploads/{{this.imageName}}">View more</a>
                                        </figcaption>           
                                    </figure>
                                </div>
                            {{/each}}
                        </div>                                 
                    </div>
                </div>                                                    
            </div>                    
        </li>
    </ul> 
    <footer class="tm-footer">
        <p class="tm-copyright-text">Copyright &copy; 2019 Awesome Pics - By Paulo Lima</p>
    </footer>
</div>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>