<div class="cd-hero">      
    <ul class="cd-hero-slider">
        <li class="selected">          
            <div class="cd-full-width" id="login_page">
                <div class="container-fluid js-tm-page-content tm-page-pad">
                    <div class="tm-contact-page">     
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-flex tm-contact-container">   
                                    <div class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding tm-textbox-padding-contact">
                                        <h2 class="tm-contact-info">Login</h2> 
                                        <p class="tm-text">Login to post awesome pics.</p> 
                                        <form class="tm-contact-form" id="login_form">
                                            <div class="form-group"> 
                                                <input type="text" id="email" name="email" class="form-control" placeholder="Email" required/>
                                            </div>
                                            <div class="form-group">  
                                                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>
                                            </div>    
                                            <button type="submit" class="tm-submit-btn">Login</button>  
                                        </form>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </li>
    </ul>
</div>

<script>
    $('#login_form').on('submit', function(e) {
        e.preventDefault();

        const user = {
            email: $('#email').val(),
            password: $('#password').val()
        }

        $.ajax({
            type: 'POST',
            url: '/api/login',
            data: JSON.stringify(user),
            contentType: 'application/json',
            success: (date) => {
                window.location.href = "/"
            },
            error: () => {
                alert('Something went wrong. Please check you e-mail and password.');
                window.location.reload();
            }
        })
    })
</script>